.header
  .divider
  h1 App Cloud Web Server
  .divider

.header-container
  h4 My Apps
  a.new-app(href="#") New App
ul
  - for( var i=0; i<apps.length; i++ )
    - if( apps[i].name === "" )
      li.app
        img(src="/images/placeholder.png")
    - else
      li.app(data-name=apps[i].name)
        a(href="/app/" + apps[i].name)
          img(src="/images/icon.png")
          p #{apps[i].name}

.header-container
  h4 Demo Apps
  -if(demos.length > 0)
    a(href="#") Refresh Demos
    
- if( demos.length > 0 )
  ul
    - for( var i=0; i<demos.length; i++ )
      li.app(data-name=demos[i].name)
        a(href="/app/" + demos[i].name)
          -if( demos[i].icon )
            img(src=demos[i].icon)
          -else
            img(src="/images/teaching-icon.png")
        p #{demos[i].name}
        p.readme Read Me
- else
  br
  br
  .btn.download Download the Demos!

.overlay-container.readme-container
  .contents
  .close

.overlay-container.new-app-form
  .contents
    form
      h4 App Name:
      input(type="text", id="app-name")
      
      !=partial('partials/app/_viewname')
      
    .button-container
      .btn.add-view Add View
      .btn.submit Submit
  .close

script(src="http://code.jquery.com/jquery-1.7.2.min.js")
script(src="/javascripts/home.js")
script(src="/javascripts/jquery.syntaxhighlighter.min.js")